### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__
**/.ipynb_checkpoints

### Data ###
data/*
data
results/*
data.7z
**/pseudolabelgen_results/*
### logs ###
.idea
logs/*
wandb/

### Visual Studio ### 
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace